* {
    margin: 0 auto;
}

.calculator {
    display: block;
    justify-self: center;
    justify-items: center;
    margin: 200px;
    padding: 50px;
    background-color: rgb(103, 144, 180);
    border: 5px solid rgb(32, 67, 97);
    border-radius: 20px;
}

.output {
    margin-bottom: 20px;
    text-align: right;
    font-size: 28px;
    width: 300px;
    height: 30px;
    background-color: rgb(162, 194, 224);
    color: rgb(32, 67, 97);
    padding-right: 15px;
    border: 2px solid rgb(32, 67, 97);
    border-radius: 20px;
}

.numbers {
    margin-top: 45px;
}

.numbers input {
    height: 50px;
    width: 80px;
    font-size: 20px;
    background-color: aliceblue;
    color: rgb(32, 67, 97);
    border: 2px solid rgb(32, 67, 97);
    text-align: center;
    border-radius: 20px;
}

.operation {
    margin-top: 45px;
}

.operation button {
    height: 30px;
    width: 30px;
    font-size: 25px;
    height: 50px;
    width: 80px;
    color: rgb(162, 194, 224);
    background-color: rgb(60, 99, 134);
    border: 2px solid rgb(32, 67, 97);
    text-align: center;
    border-radius: 20px;
}

.calculation {
    margin-top: 80px;
}

.calculation button {
    height: 50px;
    width: 150px;
    font-size: 25px;
    color: rgb(162, 194, 224);
    background-color: rgb(60, 99, 134);
    border: 2px solid rgb(32, 67, 97);
    text-align: center;
    border-radius: 20px;
}